h1 {
    margin: auto;
    text-align: center;
}

#espacioventas>div>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

#espacioventas {
    padding-top: 68px;
}

#espacioventas>div>ul>li>a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

#espacioventas>div>ul>li>a.active {
    background-color: #4CAF50;
    color: white;
}

#espacioventas>div>ul>li>a:hover:not(.active) {
    background-color: #555;
    color: white;
}

header>h1 {
    color: white;
}

article>h1 {
    font-family: "Lato";
    font-weight: 700;
}

.caracteristica {
    color: red;
}

#primer_caracteristica {
    color: brown;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('fondo.jpg');
}

header>nav {
    margin-left: 50px;
}

header>img {
    float: left;
    width: 23px;
    margin-top: 0.2%;
}

header>nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5%;
    overflow: hidden;
    background-color: #333;
    background: rgb(0 0 0 / 63%);
    margin-left: 264px;
    margin-left: 264px;
    height: 68px;
}

footer>ul {
    list-style-type: none;
    padding: 4.5%;
}

.menu,
header,
{
    width: 100%;
    position: fixed;
    z-index: 10;
}

header>nav>ul>li {
    float: left;
}

footer>ul>li {
    float: left;
    width: 22%;
}

#volverarribabtn {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    border-radius: 5px;
    letter-spacing: 2px;
    background-color: #E91E63;
    padding: 18px 30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
}

header>nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer>ul>li {
    margin-left: 8%;
}

footer {
    background-color: #333;
    color: white;
    height: 150px;
}

li a:hover {
    background-color: #111;
    text-decoration: none;
}

#img_registro {
    background: black;
}

.form-register {
    width: 500px;
    background: #333;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 2px 8px 23px #000000b8;
}

.form-register h5 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Lato";
    font-weight: 700;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Lato";
    font-weight: 700;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

#img_registro1 {
    margin-bottom: 15px;
}

#img_registro2 {
    margin-bottom: 15px;
}

#img_registro3 {
    margin-bottom: 15px;
}

.file-select::before {
    background-color: #5678EF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    content: 'Seleccionar';
    /* testo por defecto */
    position: absolute;
    width: 142px;
    height: 30px;
    margin-bottom: 15px;
}

.file-select {
    padding: 2rem;
    justify-content: center;
}

#caja_imagenes {
    padding: 8%;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

section {
    margin-top: 5%;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    font-family: 'Lato';
    font-weight: 700;
}

li i {
    margin-right: 5%;
}

header {
    background-color: #333;
    position: fixed;
    width: 100%;
}

header h1 {
    float: left;
    width: 254px;
    margin-top: 0.5%;
}

.listaproductos {
    width: 25%;
    float: left;
}

div>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

div>li {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

div>li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

div>li a.active {
    background-color: #4CAF50;
    color: white;
}

div>li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

body>div>div:nth-child(1) {
    float: left;
}

body>div>div:nth-child(2) {
    float: left;
}

body>div {
    overflow: hidden;
}

.slider {
    width: 28%;
    margin: auto;
    overflow: hidden;
    float: left;
    padding-left: 8%;
    margin-bottom: 6%;
}

table {
    margin-left: 19%;
    text-align: center;
    display: table;
}

.infoproducto {
    float: left;
    width: 60%;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0;
    }
    20% {
        margin-left: 0;
    }
    40% {
        margin-left: -100%;
    }
    60% {
        margin-left: -100%;
    }
    80% {
        margin-left: -200%;
    }
    100% {
        margin-left: -200%;
    }
}

article>table {
    width: 50%;
}

article {
    display: flow-root !important;
}

.contenedores_infoproduc {
    padding-left: 300px;
}

.buttoncomprar {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    font-family: "Rubik One", sans-serif;
    text-decoration: none;
    font-size: 4vw;
    transition: all 0.5s;
    background-color: #3498db;
}

@import "https://fonts.googleapis.com/css?family=Rubik+One";
.button::after,
.button::before {
    position: absolute;
    content: "";
    transition: all 0.5s;
}

.button {
    display: inline-block;
    padding: 20px 40px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    font-family: "Rubik One", sans-serif;
    text-decoration: none;
    font-size: 4vw;
    transition: all 0.5s;
    background-color: #3498db;
}

.button::before {
    bottom: -15px;
    height: 15px;
    width: 100%;
    left: 8px;
    transform: skewX(45deg);
    background-color: #196090;
}

.button::after {
    right: -15px;
    height: 100%;
    width: 15px;
    bottom: -8px;
    transform: skewY(45deg);
    background-color: #124364;
}

.button:active {
    margin-left: 10px;
    margin-top: 10px;
}

.button:active::before {
    bottom: -5px;
    height: 5px;
    left: 3px;
}

.button:active::after {
    right: -5px;
    width: 5px;
    bottom: -3px;
}